<%- include('../layout/User/header') %>




<div class="page-wrapper">
<main class="main">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url(../userAssets/assets/images/banners/countdown-begins-antique-timer-sand-flowing-endlessly-generated-by-ai.jpg)">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">

                    <div class="tab-content">

                          <% orders.forEach(order =>{%>
                             
                                <div class="row align-items-center h-100">
                            
                                    <div class="card card-stepper " style="border-radius: 16px;">
                                      <div class="card-header p-4">
                                        <div class="d-flex justify-content-between align-items-center">
                                          <div>    
                                            <p class="text-muted mb-2" style="font-weight: bold;"> Order ID <span class="fw-bold text-body"><%=order._id %></span></p>
                                            <p class="text-muted mb-0" style="font-weight: bold;"> Place On <span class="fw-bold text-body"><%= order.date.toLocaleDateString( 'en-US',{
                                              year:'numeric',
                                              month:'short',
                                              day:'2-digit'
                                            } ).replace(/\//g, '-')%></span> </p>
                                                
                                              
                                                <p class="mt-1" style="font-weight: bold;">TOTAL AMOUNT: &nbsp; ₹ <span style="font-size: medium; color: black;" ><%= order.total %> </span></p> <br>
                                                <p style="font-weight: bold;">Address:</p><br>
                                                <p ><% if (order.address) {%>
                                                    <%= `Name: ${order.address.name},
                                                    Mobile: ${order.address.mobile},
                                                    Pincode: ${order.address.pincode},
                                                    Address: ${order.address.adress},
                                                    City: ${order.address.city},
                                                    State: ${order.address.state}` %>
                                                 <% } else {%>
                                                     N/A 
                                                  <% } %> </p>
                                                <p class="mt-4" style="font-weight: bold;">Payment method: <%= order.paymentMode %> </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card-body p-4 ">
                                        <% order.products.forEach(product =>{ %>
                                          <div class="d-flex flex-row mb-4 pb-2 mt-4 ">
                                            <div class="flex-fill">
                                              <h5 class="bold"> <a href="/eachproduct/<%=product._id %>"><%= product.name %></a></h5>
                                              <p class="text-muted" style="font-weight: bold;"> Quantity: <%= product.quantity %> item</p>
                                              <h4 class="mb-3" style="font-weight: bold;">₹ <%= product.total %> <span class="small text-muted">  </span></h4>
                                            </div>
                                            <div>
                                             <img class="align-self-center img-fluid "  src="/uploads/<%=product.productId.image[0] %>" width="120"> 
                                            </div>
                                          </div>
                                          
                                            

                                                            <!-- return reason modal  -->
                                                            
                                                            <div class="modal fade" id="returnReasonModal" tabindex="-1" aria-labelledby="returnReasonModalLabel" aria-hidden="true">
                                                              <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                  <div class="modal-header">
                                                                    <h5 class="modal-title" id="returnReasonModalLabel">Return Order</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                  </div>
                                                                  <div class="modal-body">
                                                                    <form id="returnReasonForm">
                                                                      <input type="hidden" id="orderId" name="orderId">
                                                                      <input type="hidden" id="productId" name="productId">
                                                                      <div class="mb-3">
                                                                        <label for="returnReason" class="form-label">Reason for Return</label>
                                                                        <textarea class="form-control" id="returnReason" name="returnReason" required></textarea>
                                                                      </div>
                                                                      
                                                                      <button type="submit" class="btn btn-primary">Submit</button>
                                                                    
                                                                    </form>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            
                                                         

                                                            <!-- return reason modal end  -->

                                                            <% if( product.orderStatus=="pending") {%>
                                                            <h6 class="text-primary " style="margin-left: 20px; margin-bottom: 30px;" ></h6>
                                                            <div class="card-footer p-4">
                                                                <div class="d-flex justify-content-between">
                                                                  <h5 class="fw-normal mb-0">
                                                                    <a href="#" class="mb-4" onclick="removefromorder('<%=order._id%>','<%=product.productId._id %>')">Cancel</a>
                                                                  </h5>
                                                                  <div class="border-start h-100"></div>
                                                                </div>
                                                              </div>
                                                              <%}%>

                                                           <% if(product.orderStatus == "Delivered") {%>
                                                                <h6 class="text-primary" style="margin-left: 20px; margin-bottom: 30px;"></h6>
                                                                <div class="card-footer p-4">
                                                                    <div class="d-flex justify-content-between">
                                                                        <h5 class="fw-normal mb-0">
                                                                            <!-- <a href="#" class="mb-4" onclick="returnfromorder('<%= order._id %>' , '<%= product._id %>','<%= product.orderStatus %>')">Return Order</a> -->
                                                                            <a href="#" class="mb-4" onclick="openReturnReasonModal('<%= order._id %>', '<%= product.productId._id %>')">Return Order</a>
                                                                           
                                                                        </h5>
                                                                        <div class="border-start h-100"></div>
                                                                    </div>
                                                                </div>
                                                            <%}%>


                                                            
                                                            
                                                            
                                                            
                                                              <%if(product.orderStatus == "request cancellation"){%> 
                                                                <h6 class="text-danger"><%=product.orderStatus%></h6>
                                                               <%}%>
                        
                                                                <% if(product.orderStatus =="cancelled") {%>
                                                                    <h6 class="text-danger"><%=product.orderStatus%></h6>
                                                                   <%}%>

                                                                   <% if(product.orderStatus == "request return") {%>
                                                                    <h6 class="text-danger"><%=product.orderStatus%></h6>
                                                                    <%}%>

                                                                    <% if(product.orderStatus=="returned"){%>
                                                                    <h6 class="text-success"><%=product.orderStatus%></h6>
                                                                      <%}%>
                                                      <% }); %>
                                      </div>
                                    </div>

                                </div>  
                                 
                              <br>
                              <a href="/dowload-invoice/<%=order._id %>" class="btn btn-primary btn-round" >Download Invoice</a>
                              <% }); %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<!-- reasonmodal show  -->

 <script>
  function openReturnReasonModal(orderId, productId) {
  // Set the values of hidden fields in the modal for orderId and productId
  document.getElementById('orderId').value = orderId;
  document.getElementById('productId').value = productId;

  // Show the modal for return reason
  const returnReasonModal = new bootstrap.Modal(document.getElementById('returnReasonModal'));
  returnReasonModal.show();
}

 </script>

<script>
  function removefromorder(orderId, proId){
    console.log(`Order ID: ${orderId}, Product ID: ${proId}`);
      
    Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to cancel request the order. This action cannot be undone!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Cancel request!',
            }).then ((result)=>{
               if(result.isConfirmed) {

                fetch(`/cancelOrder/${orderId}/${proId}`,{
                  method:'POST' ,
                })
                  .then(response =>{
                    if(!response.ok) {
                      console.log("response not ok");
                      console.error('Error Details:', response.status, response.statusText);
                      throw new Error ('Network response was not ok');
                    }
                    return response.json();
                  })
                  .then(data => {
                    console.log('cancel rquest submitted successfully :',data);

                    Swal.fire({
                                icon: 'success',
                                title: 'cancel request submitted!',
                                text: 'Your Cancel request has been submitted successfully.',
                              }).then(()=>{
                                location.reload();
                              });
                  })
                  .catch(error =>{
                     console.error('There was a problem cancelling the order:', error.message);

                     Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'There was a problem cancelling the order. Please try again.',
                            });
                  })
               }
            })
  }
</script>

<!-- //return order script  -->
<!-- <script>
  function returnfromorder(orderId, proId) {
    
    console.log("FFFFFFFFFFFFFFFF",orderId, proId)
    Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to return request the order. This action cannot be undone!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, return request!',
            }).then ((result)=>{
               if(result.isConfirmed) {

                fetch(`/returnOrder/${orderId}/${proId}`,{
                  method:'POST' ,
                })
                  .then(response =>{
                    if(!response.ok) {
                      throw new Error ('Network response was not ok');
                    }
                    return response.json();
                  })
                  .then(data => {
                    console.log('return request submitted successfully :',data);

                    Swal.fire({
                                icon: 'success',
                                title: 'return request submitted!',
                                text: 'Your return request has been submitted successfully.',
                              }).then(()=>{
                                location.reload();
                              });
                  })
                  .catch(error =>{
                     console.error('There was a problem return the order:', error.message);

                     Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'There was a problem return the order. Please try again.',
                            });
                  })
               }
            })
  }
</script> -->

<script>
  
  function returnfromorder(orderId, proId) {
    console.log("Opening return modal");
  
    document.getElementById('orderId').value = orderId;
    document.getElementById('productId').value = proId;

    // Show the modal for return reason
    const returnReasonModal = new bootstrap.Modal(document.getElementById('returnReasonModal'));
    returnReasonModal.show();
  }

  // Add form submission handler once when the page loads
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('returnReasonForm').addEventListener('submit', async function (event) {
      event.preventDefault();

      const orderId = document.getElementById('orderId').value;
      const productId = document.getElementById('productId').value;
      const returnReason = document.getElementById('returnReason').value;
      console.log("Submitting return request:", orderId, productId, returnReason);

      // Send data to the backend
      try {
        const response = await fetch(`/returnOrder/${orderId}/${productId}`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ returnReason })
        });

        const result = await response.json();

        if (result.success) {
          Swal.fire({
            icon: 'success',
            title: 'Return request submitted!',
            text: 'Your return request has been submitted successfully.',
          }).then(() => {
            location.reload();
          });
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Failed to submit return request. Please try again.',
          });
        }
      } catch (error) {
        console.error('Error:', error);
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'An error occurred while submitting the return request.',
        });
      }
    });
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('../layout/User/footer') %>